/*root settings and variables*/
:root{
    --main-gray: #272d3467;
    --first-card-gray: #353e47; 
    --second-card-gray: #323a43;
    --third-card-gray: #2e353d; 
    --accent-color: #cdba6d;
    --strong-color: #c8b050; 
    --light-color: #fff;
    --heading-font: "Playfair Display", serif; 
    --text-font: "Poppins", sans-serif; 
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button, a {
    cursor: pointer;
}


body, a, ul, li, p, label, form, input, button  {
    color: #000; 
    font-family: var(--text-font); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
}


/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background-color: var(--main-gray);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 2;
}

header .logo {
    width: 200px; 
    height: 100%; 
    align-items: center;
    display: flex;
    gap: 10px; 
}

header .logo .logo-img {
    width: 40%; 
    height: auto;
}

header .logo .logo-text {
    color: var(--light-color); 
    font-weight: bold;
    font-size: 2rem;
}

header .logo .logo-text:hover {
    color: var(--accent-color); 
}

header nav {
    width: 60%; 
}

header nav ul {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

header nav ul li a {
    font-size: 1.1rem;
    font-family: var(--text-font);
}

header nav ul li a, 
header #search-icon,
header #menu-icon {
    color: var(--light-color); 
}

header nav ul li a:hover, 
header #search-icon:hover,
header #menu-icon:hover
{
    color: var(--accent-color); 
}

header #menu-icon {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
}


/*modal and hero section*/
.modal {
    width: 100%; 
    height: 130vh; 
    position: absolute; 
    background-color: rgba(0,0,0,0.5);
}

.home-container {
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%; 
    height: 130vh; 
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.home-container .presentation-container {
    width: 50%; 
    height: 50%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid blue;  */
    padding: 10px; 
    z-index: 1;
    margin: 150px 0 0 0; 
    color: var(--light-color); 
    text-align: center;
}

.home-container .presentation-container h3 {
    letter-spacing: 10px;
    font-family: var(--text-font);
    font-weight: 300;
}

.home-container .presentation-container h1 {
    font-size: 5rem;
}

.home-container .presentation-container h1 span {
    color: var(--accent-color); 
}

.home-container .presentation-container p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color); 
}

.home-container .presentation-container button {
    width: 150px; 
    background-color: var(--accent-color);
    min-height: 50px; 
    font-weight: 500;
    border: 2px solid var(--strong-color);
    font-size: 1rem;
    margin-top: 30px;
}

.home-container .presentation-container button:hover {
    background-color: transparent;
    color: var(--light-color); 
}


/*highlights container*/
.highlights-container {
    width: 100%; 
    height: 350px; 
    padding: 0 6.25rem; 
    position: absolute;
    top: 118vh;
    /* border: 1px solid blue; 
    position: relative; */
}

.highlights-container .highlights-content{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    /* position: absolute; */
    /* top: -50px;
    left: 0; 
    margin: 0 100px;*/
}

.highlights-container .highlights-content .content{
    display: flex; 
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; 
    color: var(--light-color); 
    padding: 2rem 6rem; 
}

.highlights-container .highlights-content .content .icon{
    color: var(--strong-color);
    font-size: 3rem; 
}

.highlights-container .highlights-content .content#square-1{
    background-color: var(--first-card-gray);
}


.highlights-container .highlights-content .content#square-2{
    background-color: var(--second-card-gray);
}

.highlights-container .highlights-content .content#square-3{
    background-color: var(--third-card-gray);
}

.highlights-container .highlights-content .content .title{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--heading-font);
    text-align: center;
}

.highlights-container .highlights-content .content .divider{
    border: none; 
    border-top: 3px solid var(--strong-color); 
    border-radius: 20px;
    margin: 10px 0; 
    width: 45%; 
 }
 
 .highlights-container .highlights-content .content .description{
     font-size: 1.2rem;
     font-weight: 500;
     text-align: center;
     color: var(--light-color);
}

.highlights-container .highlights-content .content.different .title {
    color: var(--strong-color); 
}

.highlights-container .highlights-content .content.different .divider {
    border-top: 3px solid var(--light-color);
}

.highlights-container .highlights-content .content.different .icon {
    color: var(--light-color); 
}


/*welcome container*/
.welcome-container {
    width: 100%; 
    height: 140vh; 
    /* border: 1px solid red; */
}

.welcome-container .signature-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.welcome-container .signature-container .signature-content {
    width: 50%; 
    flex: 1; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    /* border: 1px solid blue; */
}

.welcome-container .signature-container .signature-content .signature-text {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 10px; 
    margin-bottom: 90px; 
}

.welcome-container .signature-container .signature-content .signature-text .signature-title {
    width: 100%; 
}

.welcome-container .signature-container .signature-content .signature-text .signature-title h5{
    font-weight: 300;
    letter-spacing: 3px;
}

.welcome-container .signature-container .signature-content .signature-text .signature-title h1{
    font-size: 2.5rem;
    color: var(--accent-color); 

}

.welcome-container .signature-container .signature-content .signature-text span{
    font-weight: bold;
}

.welcome-container .signature-container .signature-content .signature-text .signature-button-container {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-container .signature-container .signature-content .signature-text .signature-button-container button{
    width: 150px;
    height: 50px;
    background-color: var(--accent-color);
    color: #000; 
    font-weight: 500;
    border: 2px solid var(--strong-color); 
    font-size: 1rem;
}

.welcome-container .signature-container .signature-content .signature-text .signature-button-container button:hover {
    background-color: transparent;
}

.welcome-container .signature-container .signature-content .signature-text .signature-button-container img {
    width: 100px; 
    height: auto;
}

.welcome-container .signature-container .attorney-container {
    width: 50%; 
    height: 100%; 
    display: flex;
    align-items: end;
    /* border: 1px solid green; */
    flex: 1;
}

.welcome-container .signature-container .attorney-container .attorney-img{
    margin-left: 50px; 
    max-width: 350px;
}





/*media queries*/
@media(max-width: 1100px) {
    /*welcome container*/
    .welcome-container {
        margin-top: 150px;
    }
}

@media(max-width: 1050px) {
    /*home container and hero*/
    .home-container .presentation-container {
        width: 70%;
    }

    /*highlights container*/
    .highlights-container .highlights-content {
        grid-template-columns: 1fr;
    }

    /*welcome container*/
    .welcome-container {
        margin-top: 550px;
    }
}

@media(max-width: 900px) {
    /*header*/
    header {
        padding: 0 2rem; 
        justify-content: space-between;
    }

    header nav {
        display: none;
        position: absolute; 
        top: 100px; 
        left: 0; 
        background-color: #000;
        width: 100%; 
        height: calc(100vh - 100px); 
    }

    header nav.active {
        display: block;
    }

    header nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }

    header #menu-icon {
        display: block;
    }

    header #search-icon {
        display: none; 
    }

    /* modal and hero*/
    .home-container .presentation-container { 
        width: 80%;
        height: auto;
    }

    .home-container .presentation-container h1 {
        font-size: 3rem;
    }

    /*welcome container*/
    .welcome-container {
        margin-top: 700px;
    }

    .welcome-container .signature-container {
        flex-direction: column;
    }

    .welcome-container .signature-container .signature-content {
        width: 100%; 
        align-items: center;
    }

    .welcome-container .signature-container .attorney-container {
        width: 100%; 
        align-items: center;
        justify-content: center;
    }

    .welcome-container .signature-container .attorney-container .attorney-img {
        margin: 0;
        max-width: 200px;
    }
}

@media(max-width: 600px) {
    .highlights-container {
        padding: 0 1rem; 
    }

    .highlights-container .highlights-content {
        grid-template-columns: 1fr;
    }

    .highlights-container .highlights-content .content{ 
        padding: 2rem 4rem; 
    }
}

@media(max-width: 500px) {
    /*modal and hero*/ 
    .home-container .presentation-container {
        gap: 2rem;
    }

    .home-container .presentation-container button {
        margin-top: 0;
    }

    /*highlights container*/
    .highlights-container {
        top: 123vh;
    }

    /*welcome container*/
    .welcome-container .signature-container .signature-content .signature-text{
        
        height: auto;
        margin-top: 100px;
    }

    .welcome-container .signature-container .signature-content .signature-text .signature-title{
        text-align: center;
    }

    .welcome-container .signature-container .signature-content .signature-text .signature-button-container{
        flex-direction: column;
        gap: 1rem;
    }
}

@media(max-width: 350px) {
    /*header*/
    header .logo .logo-img {
        width: 30%;
    }

    header .logo .logo-text {
        font-size: 1rem;
    }

    /*modal and hero*/ 
    .home-container .presentation-container h1 {
        font-size: 2rem;
    }

    .home-container .presentation-container p {
        font-size: 1rem;
    }

    /*highlights container*/
    .highlights-container .highlights-content .content .title{ 
        font-size: 1.2rem;
    }

    .highlights-container .highlights-content .content .description {
        font-size: 1rem;
    }

    .highlights-container .highlights-content .content .icon {
        font-size: 1.5rem;
    }
}


 
